
<div class="row">
  <h1 href="{{ site.baseurl }}/">Art by James TB</h1>
</div>
<nav class="nav navbar-toggleable-md navbar-light">
  <ul class="navbar-nav mr-auto">
    {% if page.active == "portfolio" %}
    <li class="nav-item active"><a class="nav-link" href="/">portfolio</a></li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="/">portfolio</a></li>
    {% endif %}
    {% for thing in site.pages %}
      {% if page.active == thing.title %}
      <li class="nav-item active"><a class="nav-link" href="{{thing.permalink}}">{{thing.title}}</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{{thing.permalink}}">{{thing.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
