/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 10px;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    overflow-x: hidden;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

img {
    width: 100%;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: lighten($brand-color, 30%);
    }

    &:hover {
        color: lighten($text-color, 60%);
        text-decoration: underline;
    }
}

.art-tile {
    padding: 20px;
    transition: all 300ms ease-in-out;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

.post-metadata {
    padding-top: 20px;
}

.sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
}