---
layout: default
---
<div class="post">
  <div class="post-nav">
    <a href="/">Back to gallery</a>
  </div>

  <article class="post-content">
    <center><a title="{{page.title}}" href="/assets/img/{{ page.image }}_large.jpg"><img src="/assets/img/{{ page.image }}_small.jpg" style="max-height: 80vh; max-width: 100%; width: auto;"></a></center>

    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h2>
    </header>
    <p>{{page.size}}</p>
    <p>{{page.price}}</p>
    <p>{{page.medium}}</p>
    {{ page.description }}
  </article>

</div>
